@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
}

.header {
  background-color: #facc15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100px;
}

.logo {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.logo-icon {
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.navigation {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.navigation button {
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #525252;
  background-color: #fbbf24;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.title {
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}

.birdlist-container {
  border-radius: 0.15em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.birdcard {
  background-color: #fde68a;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  border-color: #525252;
  height: 300px;
  width: 300px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.birdcard img {
  max-width: 100%;
  max-height: 180px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.birdcard button {
  padding: 10px;
  margin: 5px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #06b6d4;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.birdcard h4 {
  border: 2px solid #525252;
  margin-bottom: 10px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #525252;
  background-color: #fbbf24;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  padding: 10px;
}

.loading,
.error {
  text-align: center;
  padding: 30px;
}

.icon-button {
  margin-right: 10px;
}

.bird-profile {
  background-color: #fde68a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 30px;
  width: 400px;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  color: #164e63;
  text-align: center;
}

.bird-profile img {
  padding: 30px;
}

.bird-profile-wrapper {
  display: flex;
  justify-content: center;
}

.bird-profile button {
  padding: 10px;
  margin: 20px 10px 10px 10px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #525252;
  background-color: #06b6d4;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}
