@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
}

.header {
  background-color: #facc15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100px;
}

.logo {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.logo-icon {
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.navigation {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.navigation button {
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f59e0b;
  border: none;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.navigation button:hover {
  background-color: #fcd34d;
}

.title {
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  color: #333;
}

.birdlist-container {
  border-radius: 0.15em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.birdcard {
  background-color: #fde68a;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  border-color: #525252;
  height: 300px;
  width: 300px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.birdcard img {
  max-width: 100%;
  max-height: 180px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.birdcard button {
  padding: 10px;
  border: none;
  margin: 5px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #06b6d4;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.birdcard button:hover {
  background-color: #22d3ee;
}

.birdcard h4 {
  margin-bottom: 10px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #525252;
  background-color: #fbbf24;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  padding: 10px;
}

.loading,
.error {
  text-align: center;
  padding: 30px;
  color: #333;
}

.icon-button {
  margin-right: 10px;
}

.bird-profile {
  background-color: #fde68a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 30px;
  width: 400px;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
}

.bird-profile h2 {
  margin-bottom: 10px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #525252;
  background-color: #fbbf24;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  padding: 10px;
}

.bird-profile img {
  padding: 30px;
}

.bird-profile-wrapper {
  display: flex;
  justify-content: center;
}

.bird-profile button {
  border: none;
  padding: 10px;
  margin: 20px 10px 10px 10px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #525252;
  background-color: #06b6d4;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.bird-profile button:hover {
  background-color: #22d3ee;
}

.information {
  text-align: center;
  margin: 30px;
  color: #333;
}

.birdlist-item {
  background-color: #a5f3fc;
  margin: 20px;
  padding: 20px;
  display: flex;
}

.birdlist-right {
  margin-left: 20px;
  position: relative;
  width: 100%;
}

#trash {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 20px 10px 10px 10px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #fb7185;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

#addNote {
  padding: 10px;
  margin: 20px 10px 10px 10px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #fbbf24;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.add-note {
  background-color: #fde68a;
  text-align: center;
  height: 330px;
  width: 300px;
  z-index: 10;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  border-color: #525252;
}

.add-note h2 {
  color: #333;
  margin-bottom: 10px;
}

#add-note {
  padding: 10px;
  margin: 5px;
  color: #ffffff;
  border-color: #525252;
  background-color: #fbbf24;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  border-radius: 0.15em;
}

#close-note {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #525252;
  background-color: #fb7185;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.user-notes {
  font-style: italic;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchbar-input {
  padding: 5px;
  margin: 5px;
  border-color: #525252;
  background-color: #fde68a;
  border-radius: 0.15em;
  border: none;
}

.searchbar-input:focus {
  outline: none;
}

.added-notification {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  #trash {
    position: static;
  }

  .header {
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
  }
}
